In [30]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
import json
import gc
from imblearn.over_sampling import SMOTE
from collections import Counter
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

In [4]:
trx_df = pd.read_csv('assets/transactions_data.csv')
trx_df

                id                 date  client_id  ...      zip   mcc errors
0          7475327  2010-01-01 00:01:00       1556  ...  58523.0  5499    NaN
1          7475328  2010-01-01 00:02:00        561  ...  52722.0  5311    NaN
2          7475329  2010-01-01 00:02:00       1129  ...  92084.0  4829    NaN
3          7475331  2010-01-01 00:05:00        430  ...  46307.0  4829    NaN
4          7475332  2010-01-01 00:06:00        848  ...  20776.0  5813    NaN
...            ...                  ...        ...  ...      ...   ...    ...
13305910  23761868  2019-10-31 23:56:00       1718  ...  91792.0  5499    NaN
13305911  23761869  2019-10-31 23:56:00       1766  ...      NaN  5815    NaN
13305912  23761870  2019-10-31 23:57:00        199  ...  75002.0  4900    NaN
13305913  23761873  2019-10-31 23:58:00       1986  ...  94014.0  5411    NaN
13305914  23761874  2019-10-31 23:59:00        489  ...  37073.0  5921    NaN

[13305915 rows x 12 columns]

In [5]:
def santize_df(amount_str):
    """convert amount from string to float"""
    if isinstance(amount_str, str):
        return float(amount_str.replace('$', ''))
    return amount_str

In [6]:
trx_df = trx_df[trx_df.errors.isna()]
display(trx_df)
trx_df = trx_df.drop(columns=['merchant_city', 'merchant_state', 'mcc', 'errors', 'date'], axis=1)
display(trx_df)
trx_df['amount'] = trx_df['amount'].apply(santize_df)
display(trx_df)

                id                 date  client_id  ...      zip   mcc errors
0          7475327  2010-01-01 00:01:00       1556  ...  58523.0  5499    NaN
1          7475328  2010-01-01 00:02:00        561  ...  52722.0  5311    NaN
2          7475329  2010-01-01 00:02:00       1129  ...  92084.0  4829    NaN
3          7475331  2010-01-01 00:05:00        430  ...  46307.0  4829    NaN
4          7475332  2010-01-01 00:06:00        848  ...  20776.0  5813    NaN
...            ...                  ...        ...  ...      ...   ...    ...
13305910  23761868  2019-10-31 23:56:00       1718  ...  91792.0  5499    NaN
13305911  23761869  2019-10-31 23:56:00       1766  ...      NaN  5815    NaN
13305912  23761870  2019-10-31 23:57:00        199  ...  75002.0  4900    NaN
13305913  23761873  2019-10-31 23:58:00       1986  ...  94014.0  5411    NaN
13305914  23761874  2019-10-31 23:59:00        489  ...  37073.0  5921    NaN

[13094522 rows x 12 columns]

                id  client_id  ...  merchant_id      zip
0          7475327       1556  ...        59935  58523.0
1          7475328        561  ...        67570  52722.0
2          7475329       1129  ...        27092  92084.0
3          7475331        430  ...        27092  46307.0
4          7475332        848  ...        13051  20776.0
...            ...        ...  ...          ...      ...
13305910  23761868       1718  ...        86438  91792.0
13305911  23761869       1766  ...        39261      NaN
13305912  23761870        199  ...         2925  75002.0
13305913  23761873       1986  ...        46284  94014.0
13305914  23761874        489  ...        24658  37073.0

[13094522 rows x 7 columns]

                id  client_id  ...  merchant_id      zip
0          7475327       1556  ...        59935  58523.0
1          7475328        561  ...        67570  52722.0
2          7475329       1129  ...        27092  92084.0
3          7475331        430  ...        27092  46307.0
4          7475332        848  ...        13051  20776.0
...            ...        ...  ...          ...      ...
13305910  23761868       1718  ...        86438  91792.0
13305911  23761869       1766  ...        39261      NaN
13305912  23761870        199  ...         2925  75002.0
13305913  23761873       1986  ...        46284  94014.0
13305914  23761874        489  ...        24658  37073.0

[13094522 rows x 7 columns]

In [7]:
with open('assets/train_fraud_labels.json', 'r') as f:
    fraud_labels_json = json.load(fp=f)

In [8]:
display(fraud_labels_json)
fraud_labels_dict = fraud_labels_json.get('target', {})
fraud_labels_series = pd.Series(fraud_labels_dict, name='is_fraud')
display(fraud_labels_series)
fraud_labels_series.index = fraud_labels_series.index.astype(int)
display(fraud_labels_series)

{'target': {'10649266': 'No',
  '23410063': 'No',
  '9316588': 'No',
  '12478022': 'No',
  '9558530': 'No',
  '12532830': 'No',
  '19526714': 'No',
  '9906964': 'No',
  '13224888': 'No',
  '13749094': 'No',
  '12303776': 'No',
  '19480376': 'No',
  '11716050': 'No',
  '20025400': 'No',
  '7661688': 'No',
  '16662807': 'No',
  '21419778': 'No',
  '18011186': 'No',
  '23289598': 'No',
  '11644547': 'No',
  '23235120': 'No',
  '19748218': 'No',
  '8720720': 'No',
  '18335831': 'No',
  '18936727': 'No',
  '15223870': 'No',
  '12370203': 'No',
  '17126661': 'No',
  '22270430': 'No',
  '18790248': 'No',
  '20143410': 'No',
  '9497252': 'No',
  '17619208': 'No',
  '11052664': 'No',
  '14670204': 'No',
  '17681877': 'No',
  '22485981': 'No',
  '22332853': 'No',
  '16628447': 'No',
  '7766832': 'No',
  '7614276': 'No',
  '14069486': 'No',
  '13755628': 'No',
  '17306332': 'No',
  '19822702': 'No',
  '19118845': 'No',
  '12799754': 'No',
  '17368331': 'No',
  '23652500': 'No',
  '14024256': 'No',
  '12296764': 'No',
  '16044038': 'No',
  '22500112': 'No',
  '12343484': 'No',
  '15796886': 'No',
  '23508044': 'No',
  '11816240': 'No',
  '16807249': 'No',
  '13646156': 'No',
  '17312276': 'No',
  '12404354': 'No',
  '11778392': 'No',
  '18375038': 'No',
  '11928442': 'No',
  '19938487': 'No',
  '22467943': 'No',
  '23178467': 'No',
  '13722519': 'No',
  '14128545': 'No',
  '8912775': 'No',
  '19850291': 'No',
  '21941829': 'No',
  '9909258': 'No',
  '14262715': 'No',
  '10802893': 'No',
  '18409086': 'No',
  '10933230': 'No',
  '16405789': 'No',
  '10139688': 'No',
  '21881780': 'No',
  '17798976': 'No',
  '17207523': 'No',
  '15427215': 'No',
  '13115972': 'No',
  '8643060': 'No',
  '9374178': 'No',
  '14474479': 'No',
  '10478729': 'No',
  '22836043': 'No',
  '8500674': 'No',
  '17910114': 'No',
  '23380439': 'No',
  '23292183': 'No',
  '23722607': 'No',
  '14058158': 'No',
  '10462724': 'No',
  '18033208': 'No',
  '19068759': 'No',
  '10551289': 'No',
  '22484160': 'No',
  '11247457': 'No',
  '21767303': 'No',
  '21271918': 'No',
  '21263370': 'No',
  '14611854': 'No',
  '14261665': 'No',
  '16932356': 'No',
  '10016376': 'No',
  '14013183': 'No',
  '11202999': 'No',
  '19565729': 'No',
  '14609760': 'No',
  '16472199': 'No',
  '23130510': 'No',
  '14802347': 'No',
  '19987563': 'No',
  '15328765': 'No',
  '17465465': 'No',
  '18801955': 'No',
  '15674627': 'No',
  '11623435': 'No',
  '10415008': 'No',
  '12205959': 'No',
  '15105184': 'No',
  '7825558': 'No',
  '8555018': 'No',
  '9147061': 'No',
  '15492657': 'No',
  '12705924': 'No',
  '17696068': 'No',
  '19910946': 'No',
  '9934244': 'No',
  '9064963': 'No',
  '9844720': 'No',
  '20803736': 'No',
  '18049394': 'No',
  '9636708': 'No',
  '8112022': 'No',
  '18465623': 'No',
  '17989560': 'No',
  '8134329': 'No',
  '22038543': 'No',
  '23403057': 'No',
  '8386054': 'No',
  '20718262': 'No',
  '9679353': 'No',
  '16631889': 'No',
  '11856496': 'No',
  '13684422': 'No',
  '8530860': 'No',
  '17088486': 'No',
  '12753891': 'No',
  '21039152': 'No',
  '8239030': 'No',
  '18323381': 'No',
  '15619849': 'No',
  '19418150': 'No',
  '14632442': 'No',
  '11202687': 'No',
  '20852455': 'No',
  '17479972': 'No',
  '19165317': 'No',
  '20308107': 'No',
  '8127094': 'No',
  '10057074': 'No',
  '15455354': 'No',
  '15990953': 'No',
  '19747498': 'No',
  '12265212': 'No',
  '9356556': 'No',
  '14470700': 'No',
  '21042836': 'No',
  '9322759': 'No',
  '12964472': 'No',
  '23554065': 'No',
  '11250341': 'No',
  '15469775': 'No',
  '17481440': 'No',
  '10196919': 'No',
  '18636852': 'No',
  '21993708': 'No',
  '23188669': 'No',
  '15362343': 'No',
  '12226089': 'No',
  '16965193': 'No',
  '9653284': 'No',
  '17916057': 'No',
  '19802578': 'No',
  '16969942': 'No',
  '10971426': 'No',
  '8194016': 'No',
  '17892266': 'No',
  '23035208': 'No',
  '12644644': 'No',
  '22029155': 'No',
  '18464548': 'No',
  '10546462': 'No',
  '17123489': 'No',
  '19380704': 'No',
  '15047238': 'No',
  '22368669': 'No',
  '13373437': 'No',
  '16306027': 'No',
  '21186385': 'No',
  '9961228': 'No',
  '22043643': 'No',
  '16253374': 'No',
  '12065423': 'No',
  '10414272': 'No',
  '10219390': 'No',
  '20581004': 'No',
  '17682305': 'No',
  '8846732': 'No',
  '10896291': 'No',
  '14264764': 'No',
  '19616621': 'No',
  '15022167': 'No',
  '10657296': 'No',
  '18643813': 'No',
  '22542687': 'No',
  '9322155': 'No',
  '11373991': 'No',
  '13462710': 'No',
  '16046252': 'No',
  '17982323': 'No',
  '22615101': 'No',
  '11979837': 'No',
  '17180155': 'No',
  '10106772': 'No',
  '12668673': 'No',
  '13175573': 'No',
  '14102906': 'No',
  '20011023': 'No',
  '21286920': 'No',
  '11436023': 'No',
  '21113134': 'No',
  '11498175': 'No',
  '20677456': 'No',
  '19017069': 'No',
  '14799984': 'No',
  '8950155': 'No',
  '8815928': 'No',
  '11292426': 'No',
  '20952238': 'No',
  '12578829': 'No',
  '12971352': 'No',
  '21172123': 'No',
  '23507960': 'No',
  '8519487': 'No',
  '10248876': 'No',
  '11893909': 'No',
  '9762219': 'No',
  '13034342': 'No',
  '11703881': 'No',
  '17788775': 'No',
  '16691331': 'No',
  '8785990': 'No',
  '10671970': 'No',
  '16807555': 'No',
  '9420407': 'No',
  '15031532': 'No',
  '19048773': 'No',
  '12502151': 'No',
  '13702377': 'No',
  '10224315': 'No',
  '17936073': 'No',
  '15764443': 'No',
  '17009463': 'No',
  '16632490': 'No',
  '17299021': 'No',
  '9935956': 'No',
  '18698685': 'No',
  '13017451': 'No',
  '16207539': 'No',
  '20850143': 'No',
  '22248479': 'No',
  '9075658': 'No',
  '20565399': 'No',
  '7582194': 'No',
  '20118823': 'No',
  '7921554': 'No',
  '16133520': 'No',
  '11800380': 'No',
  '10542868': 'No',
  '7889483': 'No',
  '17099367': 'No',
  '13307471': 'No',
  '9694643': 'No',
  '12194745': 'No',
  '8379138': 'No',
  '11855754': 'No',
  '8779254': 'No',
  '9220875': 'No',
  '18722546': 'No',
  '7929291': 'No',
  '20744109': 'No',
  '21782760': 'No',
  '22341116': 'No',
  '12127474': 'No',
  '20445218': 'No',
  '15195835': 'No',
  '11026048': 'No',
  '23680261': 'No',
  '20606081': 'No',
  '23358817': 'No',
  '18209821': 'No',
  '8458040': 'No',
  '17226297': 'No',
  '14933079': 'No',
  '19034571': 'No',
  '21272123': 'No',
  '20200091': 'No',
  '22316670': 'No',
  '22311205': 'No',
  '20103589': 'No',
  '20573228': 'No',
  '17610289': 'No',
  '11566462': 'No',
  '10311093': 'No',
  '17483935': 'No',
  '15611661': 'No',
  '14860246': 'No',
  '19771592': 'No',
  '10868852': 'No',
  '21469649': 'No',
  '16646399': 'No',
  '17693002': 'No',
  '16510196': 'No',
  '10482938': 'No',
  '20009307': 'No',
  '18971434': 'No',
  '8151033': 'No',
  '11097641': 'No',
  '12711845': 'No',
  '17866257': 'No',
  '18008984': 'No',
  '20907033': 'No',
  '8025279': 'No',
  '10579003': 'No',
  '8778220': 'No',
  '14622719': 'No',
  '22560297': 'No',
  '9203913': 'No',
  '23211439': 'No',
  '15192420': 'No',
  '23059972': 'No',
  '23126983': 'No',
  '11202673': 'No',
  '12565782': 'No',
  '22787218': 'No',
  '9349555': 'No',
  '17453914': 'No',
  '15292787': 'No',
  '9761414': 'No',
  '16337538': 'No',
  '10162209': 'No',
  '13644438': 'No',
  '8037254': 'No',
  '22643345': 'No',
  '10774091': 'No',
  '11939913': 'No',
  '16902965': 'No',
  '17505634': 'No',
  '8981486': 'No',
  '10973589': 'No',
  '17122657': 'No',
  '23486403': 'No',
  '15523287': 'No',
  '20477353': 'No',
  '20750469': 'No',
  '10631578': 'No',
  '11396795': 'No',
  '11754393': 'No',
  '19711842': 'No',
  '7949019': 'No',
  '17753087': 'No',
  '9305042': 'No',
  '11365205': 'No',
  '8663630': 'No',
  '13503182': 'No',
  '11733923': 'No',
  '8892313': 'No',
  '9872957': 'No',
  '21872486': 'No',
  '9740835': 'No',
  '17140642': 'No',
  '10074624': 'No',
  '14660219': 'No',
  '16265487': 'No',
  '23315421': 'No',
  '19131910': 'No',
  '8690792': 'No',
  '23218879': 'No',
  '12402696': 'No',
  '12496998': 'No',
  '20032764': 'No',
  '10898837': 'No',
  '10084676': 'No',
  '11983626': 'No',
  '14086129': 'No',
  '13221376': 'No',
  '20227633': 'No',
  '11601012': 'No',
  '19958982': 'No',
  '17881824': 'No',
  '21671733': 'No',
  '10193973': 'No',
  '17555606': 'No',
  '15218651': 'No',
  '12201954': 'No',
  '13940094': 'No',
  '10989693': 'No',
  '13387505': 'No',
  '9257660': 'No',
  '18287917': 'No',
  '14197866': 'No',
  '11759453': 'No',
  '18077603': 'No',
  '22224710': 'No',
  '8049097': 'No',
  '12006017': 'No',
  '16384013': 'No',
  '19024213': 'No',
  '15390112': 'No',
  '12896780': 'No',
  '21841156': 'No',
  '13293121': 'No',
  '22404432': 'No',
  '13396143': 'No',
  '22910657': 'No',
  '12645035': 'No',
  '19966259': 'No',
  '14920345': 'No',
  '15891595': 'No',
  '16057738': 'No',
  '23065069': 'No',
  '10870335': 'No',
  '22411428': 'No',
  '10897258': 'No',
  '10951977': 'No',
  '18987864': 'No',
  '8962251': 'No',
  '8052629': 'No',
  '18679883': 'No',
  '16161220': 'No',
  '12358940': 'No',
  '23461902': 'No',
  '13402635': 'No',
  '20149642': 'No',
  '21547795': 'No',
  '7801437': 'No',
  '7825120': 'No',
  '15324516': 'No',
  '18457268': 'No',
  '12150676': 'No',
  '10028525': 'No',
  '8505773': 'No',
  '10880653': 'No',
  '12715889': 'No',
  '14798574': 'No',
  '17772438': 'No',
  '9718649': 'No',
  '11192065': 'No',
  '13161333': 'No',
  '12197514': 'No',
  '20204927': 'No',
  '19760453': 'No',
  '23476426': 'No',
  '7762511': 'No',
  '19946381': 'No',
  '9661883': 'No',
  '10513025': 'No',
  '9364330': 'No',
  '23202389': 'No',
  '10337157': 'No',
  '13317205': 'No',
  '21569147': 'No',
  '8352182': 'No',
  '15894795': 'No',
  '11690445': 'No',
  '22978302': 'No',
  '14780884': 'No',
  '20119003': 'No',
  '13680769': 'No',
  '7995573': 'No',
  '19926533': 'No',
  '14674901': 'No',
  '16311131': 'No',
  '18021895': 'No',
  '9854743': 'No',
  '11588200': 'No',
  '23144341': 'No',
  '17286618': 'No',
  '22766354': 'No',
  '22742703': 'No',
  '20683053': 'No',
  '16809462': 'No',
  '8797944': 'No',
  '12580306': 'No',
  '15175635': 'No',
  '13414824': 'No',
  '22755152': 'No',
  '14587978': 'No',
  '13445354': 'No',
  '13295352': 'No',
  '9343604': 'No',
  '14103406': 'No',
  '13734274': 'No',
  '16632968': 'No',
  '7824644': 'No',
  '9119877': 'No',
  '7641269': 'No',
  '17225607': 'No',
  '12658457': 'No',
  '10661657': 'No',
  '7743563': 'No',
  '7947694': 'No',
  '19915529': 'No',
  '14608886': 'No',
  '19745572': 'No',
  '19950417': 'No',
  '9408405': 'No',
  '10428953': 'No',
  '19274695': 'No',
  '15144268': 'No',
  '15560217': 'No',
  '15075908': 'No',
  '13927485': 'No',
  '18117703': 'No',
  '15235040': 'No',
  '13156664': 'No',
  '16335961': 'No',
  '16025753': 'No',
  '8277700': 'No',
  '23619280': 'No',
  '7978779': 'No',
  '11204496': 'No',
  '16231807': 'No',
  '18314888': 'No',
  '10761379': 'No',
  '12836107': 'No',
  '13349572': 'No',
  '17879203': 'No',
  '19352516': 'No',
  '10284678': 'No',
  '10009672': 'No',
  '15298393': 'No',
  '19259923': 'No',
  '22564855': 'No',
  '19829935': 'No',
  '21909631': 'No',
  '18307992': 'No',
  '10209972': 'No',
  '15029769': 'No',
  '14794212': 'No',
  '11704111': 'No',
  '10197535': 'No',
  '22476307': 'No',
  '12630820': 'No',
  '13803632': 'Yes',
  '18963261': 'No',
  '20620850': 'No',
  '8010315': 'No',
  '21389120': 'No',
  '10063114': 'No',
  '15699727': 'No',
  '22051025': 'No',
  '21686909': 'No',
  '17113220': 'No',
  '16634699': 'No',
  '18424386': 'No',
  '13465441': 'No',
  '10513607': 'No',
  '10726872': 'No',
  '9383198': 'No',
  '16080820': 'No',
  '7494450': 'No',
  '15601283': 'No',
  '19317166': 'No',
  '16155289': 'No',
  '16589565': 'No',
  '10313462': 'No',
  '17032795': 'No',
  '16002803': 'No',
  '9479076': 'No',
  '13849628': 'No',
  '17118986': 'No',
  '17565483': 'No',
  '8494810': 'No',
  '17791680': 'No',
  '15380576': 'No',
  '13885568': 'No',
  '7680846': 'No',
  '10615314': 'No',
  '22471837': 'No',
  '8032199': 'No',
  '22426074': 'No',
  '12433467': 'No',
  '22285101': 'No',
  '20273406': 'No',
  '20247631': 'No',
  '12649337': 'No',
  '22503543': 'No',
  '19283903': 'No',
  '14042162': 'No',
  '11165602': 'No',
  '10036579': 'No',
  '14325467': 'No',
  '22971111': 'No',
  '18804226': 'No',
  '22534285': 'No',
  '21563144': 'No',
  '10680621': 'No',
  '20278115': 'No',
  '22760649': 'No',
  '13785125': 'No',
  '18520156': 'No',
  '22022005': 'No',
  '7727186': 'No',
  '17132415': 'No',
  '7670036': 'No',
  '20154072': 'No',
  '11581079': 'No',
  '11358355': 'No',
  '12144636': 'No',
  '16095866': 'No',
  '17884767': 'No',
  '18594437': 'No',
  '16046789': 'No',
  '9449335': 'No',
  '8133503': 'No',
  '19931973': 'No',
  '16883858': 'No',
  '9537928': 'No',
  '18396397': 'No',
  '13787430': 'No',
  '21899070': 'No',
  '15209158': 'No',
  '21718868': 'No',
  '15819747': 'No',
  '9111644': 'No',
  '18568216': 'No',
  '7701279': 'No',
  '12723890': 'No',
  '20178961': 'No',
  '17617626': 'No',
  '15587326': 'No',
  '11507708': 'No',
  '16034384': 'No',
  '12763710': 'No',
  '9966805': 'No',
  '11188857': 'No',
  '20418962': 'No',
  '21940206': 'No',
  '21924957': 'No',
  '17204857': 'No',
  '12664135': 'No',
  '9563432': 'No',
  '17605010': 'No',
  '19693562': 'No',
  '17493933': 'No',
  '10017716': 'No',
  '15842561': 'No',
  '21485908': 'No',
  '15912800': 'No',
  '13786607': 'No',
  '16185503': 'No',
  '19522301': 'No',
  '13141805': 'No',
  '21321344': 'No',
  '8398362': 'No',
  '18238211': 'No',
  '18390477': 'No',
  '22558354': 'No',
  '16535008': 'No',
  '16314759': 'No',
  '19625654': 'No',
  '18461875': 'No',
  '20642382': 'No',
  '14588689': 'No',
  '11001930': 'No',
  '18695211': 'No',
  '12288904': 'No',
  '14846658': 'No',
  '23734550': 'No',
  '12643807': 'No',
  '10731518': 'No',
  '21535512': 'No',
  '14494409': 'No',
  '7942930': 'No',
  '16813253': 'No',
  '17414665': 'No',
  '9930962': 'No',
  '20331339': 'No',
  '15612395': 'No',
  '9865439': 'No',
  '12625129': 'No',
  '8851916': 'No',
  '14717921': 'No',
  '17566081': 'No',
  '8530607': 'No',
  '14022955': 'No',
  '18251293': 'No',
  '10945212': 'No',
  '11476132': 'No',
  '19464842': 'No',
  '18730698': 'No',
  '15211892': 'No',
  '22827687': 'No',
  '16639965': 'No',
  '16867916': 'No',
  '10097696': 'No',
  '11179770': 'No',
  '18132716': 'No',
  '7883824': 'No',
  '19389462': 'No',
  '18228541': 'No',
  '10572508': 'No',
  '23100306': 'No',
  '15646961': 'No',
  '20252743': 'No',
  '13662074': 'No',
  '19288154': 'No',
  '20584335': 'No',
  '14347817': 'No',
  '23661265': 'No',
  '17905209': 'No',
  '12417318': 'No',
  '12804838': 'No',
  '20865585': 'No',
  '17006950': 'No',
  '21321951': 'No',
  '20003447': 'No',
  '17199055': 'No',
  '15386663': 'No',
  '11510092': 'No',
  '15264510': 'No',
  '9353445': 'No',
  '15259571': 'No',
  '10607681': 'No',
  '22178410': 'No',
  '16795127': 'No',
  '15561875': 'No',
  '7640124': 'No',
  '18736423': 'No',
  '17318799': 'No',
  '19687285': 'No',
  '14328444': 'No',
  '17252624': 'No',
  '23286866': 'No',
  '10200671': 'No',
  '15922272': 'No',
  '15084727': 'No',
  '10150467': 'No',
  '12255814': 'No',
  '8104580': 'No',
  '10964129': 'No',
  '16660928': 'No',
  '22141078': 'No',
  '22881149': 'No',
  '7630451': 'No',
  '10187694': 'No',
  '8592246': 'No',
  '17472057': 'No',
  '19210773': 'No',
  '8744658': 'No',
  '15245547': 'No',
  '23276482': 'No',
  '9511985': 'No',
  '20149217': 'No',
  '22927988': 'No',
  '20496311': 'No',
  '20115805': 'No',
  '17190333': 'No',
  '15448503': 'No',
  '14196231': 'No',
  '22884411': 'No',
  '14723455': 'No',
  '8685970': 'No',
  '15989793': 'No',
  '21141981': 'No',
  '11855482': 'No',
  '22572947': 'No',
  '14941807': 'No',
  '22132099': 'No',
  '22720704': 'No',
  '16728300': 'No',
  '9511025': 'No',
  '13106906': 'No',
  '8676121': 'No',
  '10453973': 'No',
  '9883216': 'No',
  '18821029': 'No',
  '16123612': 'No',
  '8993125': 'No',
  '23139969': 'No',
  '20529022': 'No',
  '23154021': 'No',
  '15039475': 'No',
  '22176189': 'No',
  '14288372': 'No',
  '21347908': 'No',
  '20386255': 'No',
  '15072069': 'No',
  '17308921': 'No',
  '16494943': 'No',
  '20376946': 'No',
  '8077923': 'No',
  '15203229': 'No',
  '19464391': 'No',
  '17017883': 'No',
  '17719273': 'No',
  '15596431': 'No',
  '13992599': 'No',
  '19372007': 'No',
  '8553342': 'No',
  '11972079': 'No',
  '23183067': 'No',
  '10160828': 'No',
  '18346980': 'No',
  '11424894': 'No',
  '17711845': 'No',
  '10096073': 'No',
  '18763161': 'No',
  '21089758': 'No',
  '18594265': 'No',
  '11426575': 'No',
  '22148649': 'No',
  '18153983': 'No',
  '17451046': 'No',
  '21253608': 'No',
  '13092712': 'No',
  '12461997': 'No',
  '11145684': 'No',
  '13726665': 'No',
  '9572405': 'No',
  '16976186': 'No',
  '16584764': 'No',
  '9433803': 'No',
  '17864264': 'No',
  '21356463': 'No',
  '19869822': 'No',
  '12963789': 'No',
  '23670476': 'No',
  '8466217': 'No',
  '11282945': 'No',
  '15452603': 'No',
  '10887611': 'No',
  '13730153': 'No',
  '12980267': 'No',
  '8571679': 'No',
  '9687648': 'No',
  '13062390': 'No',
  '22024016': 'No',
  '23662213': 'No',
  '18399414': 'No',
  '20587294': 'No',
  '22257818': 'No',
  '15284325': 'No',
  '21164838': 'No',
  '17060303': 'No',
  '13474590': 'No',
  '20474254': 'No',
  '23132051': 'No',
  '15742887': 'No',
  '9031876': 'No',
  '18620839': 'No',
  '8538524': 'No',
  '21339452': 'No',
  '10224297': 'No',
  '11628105': 'No',
  '21920449': 'No',
  '11963998': 'No',
  '13899725': 'No',
  '14198998': 'No',
  '22296920': 'No',
  '13060438': 'No',
  '20819865': 'No',
  '12817382': 'No',
  '7794287': 'No',
  '12387741': 'No',
  '22597708': 'No',
  '18418456': 'No',
  '12173441': 'No',
  '22482760': 'No',
  '8365730': 'No',
  '12559676': 'No',
  '21244156': 'No',
  '22790006': 'No',
  '7897503': 'No',
  '7548732': 'No',
  '10053498': 'No',
  '14175684': 'No',
  '9047953': 'No',
  '11293298': 'No',
  '14609030': 'No',
  '19463349': 'No',
  '14641988': 'No',
  '19232536': 'No',
  '12418623': 'No',
  '12575557': 'No',
  '15182835': 'No',
  '21087726': 'No',
  '13509541': 'No',
  '8652482': 'No',
  '8398227': 'No',
  '13766910': 'No',
  '10548876': 'No',
  '15938310': 'No',
  '18292652': 'No',
  '17962933': 'No',
  '23469434': 'No',
  '17661671': 'No',
  '12934994': 'No',
  '10615058': 'No',
  '23423361': 'No',
  '21962697': 'No',
  '23744671': 'No',
  '23390519': 'No',
  '15054628': 'No',
  '13416841': 'No',
  '15533047': 'No',
  '8177170': 'No',
  '13742286': 'No',
  '15739087': 'No',
  '18922952': 'No',
  '21108256': 'No',
  '12940358': 'No',
  '20905460': 'No',
  '19702115': 'No',
  '13724706': 'No',
  '22340687': 'No',
  '16908596': 'No',
  '10367002': 'No',
  '14918283': 'No',
  '22419969': 'No',
  '19079232': 'No',
  '20386637': 'No',
  '18149106': 'No',
  '17350045': 'No',
  '22822293': 'No',
  '22491659': 'No',
  '12906590': 'No',
  '12523243': 'No',
  '18990788': 'No',
  '17856251': 'No',
  '16177388': 'No',
  '13451488': 'No',
  '13285959': 'No',
  '10578689': 'No',
  '18411980': 'No',
  '22673233': 'No',
  '14526234': 'No',
  '22471562': 'No',
  '14253809': 'No',
  '17737761': 'No',
  '11270059': 'No',
  '8949756': 'No',
  '16229803': 'No',
  '23451273': 'No',
  '10165887': 'No',
  '13788518': 'No',
  '22943661': 'No',
  '13630917': 'No',
  '19153381': 'No',
  '11551247': 'No',
  '10532821': 'No',
  '14784310': 'No',
  '22563890': 'No',
  '13016712': 'No',
  '18665972': 'No',
  '10875984': 'No',
  '18184513': 'No',
  '22848441': 'No',
  '22336111': 'No',
  '18642143': 'No',
  '18743940': 'No',
  '13417159': 'No',
  '7832919': 'No',
  '13912272': 'No',
  '20964614': 'No',
  '14328414': 'No',
  '13494137': 'No',
  '22144336': 'No',
  '21400579': 'No',
  '14517244': 'No',
  '10791279': 'No',
  '16427270': 'No',
  '22354579': 'No',
  '22007365': 'No',
  '15392956': 'No',
  '12889821': 'No',
  '20116730': 'No',
  '19450731': 'No',
  '21961187': 'No',
  '16237804': 'No',
  '9265226': 'No',
  '10949864': 'No',
  '15036113': 'No',
  '16087064': 'No',
  ...}}

10649266    No
23410063    No
9316588     No
12478022    No
9558530     No
            ..
14064699    No
7676538     No
15131030    No
17244732    No
15151926    No
Name: is_fraud, Length: 8914963, dtype: object

10649266    No
23410063    No
9316588     No
12478022    No
9558530     No
            ..
14064699    No
7676538     No
15131030    No
17244732    No
15151926    No
Name: is_fraud, Length: 8914963, dtype: object

In [9]:
merged_df = pd.merge(trx_df, fraud_labels_series, how='left', left_on='id', right_index=True)
del trx_df
gc.collect()
display(merged_df)
merged_df.fillna({'is_fraud':'No'}, inplace=True)
display(merged_df)

                id  client_id  card_id  ...  merchant_id      zip  is_fraud
0          7475327       1556     2972  ...        59935  58523.0        No
1          7475328        561     4575  ...        67570  52722.0        No
2          7475329       1129      102  ...        27092  92084.0        No
3          7475331        430     2860  ...        27092  46307.0       NaN
4          7475332        848     3915  ...        13051  20776.0        No
...            ...        ...      ...  ...          ...      ...       ...
13305910  23761868       1718     2379  ...        86438  91792.0        No
13305911  23761869       1766     2066  ...        39261      NaN        No
13305912  23761870        199     1031  ...         2925  75002.0        No
13305913  23761873       1986     5443  ...        46284  94014.0       NaN
13305914  23761874        489     5697  ...        24658  37073.0       NaN

[13094522 rows x 8 columns]

                id  client_id  card_id  ...  merchant_id      zip  is_fraud
0          7475327       1556     2972  ...        59935  58523.0        No
1          7475328        561     4575  ...        67570  52722.0        No
2          7475329       1129      102  ...        27092  92084.0        No
3          7475331        430     2860  ...        27092  46307.0        No
4          7475332        848     3915  ...        13051  20776.0        No
...            ...        ...      ...  ...          ...      ...       ...
13305910  23761868       1718     2379  ...        86438  91792.0        No
13305911  23761869       1766     2066  ...        39261      NaN        No
13305912  23761870        199     1031  ...         2925  75002.0        No
13305913  23761873       1986     5443  ...        46284  94014.0        No
13305914  23761874        489     5697  ...        24658  37073.0        No

[13094522 rows x 8 columns]

In [10]:
merged_df['is_fraud'] = merged_df['is_fraud'].map({'Yes': 1, 'No': 0})
display(merged_df)

                id  client_id  card_id  ...  merchant_id      zip  is_fraud
0          7475327       1556     2972  ...        59935  58523.0         0
1          7475328        561     4575  ...        67570  52722.0         0
2          7475329       1129      102  ...        27092  92084.0         0
3          7475331        430     2860  ...        27092  46307.0         0
4          7475332        848     3915  ...        13051  20776.0         0
...            ...        ...      ...  ...          ...      ...       ...
13305910  23761868       1718     2379  ...        86438  91792.0         0
13305911  23761869       1766     2066  ...        39261      NaN         0
13305912  23761870        199     1031  ...         2925  75002.0         0
13305913  23761873       1986     5443  ...        46284  94014.0         0
13305914  23761874        489     5697  ...        24658  37073.0         0

[13094522 rows x 8 columns]

In [11]:
card_df = pd.read_csv('assets/cards_data.csv')
display(card_df)

        id  client_id  ... year_pin_last_changed card_on_dark_web
0     4524        825  ...                  2008               No
1     2731        825  ...                  2014               No
2     3701        825  ...                  2004               No
3       42        825  ...                  2012               No
4     4659        825  ...                  2009               No
...    ...        ...  ...                   ...              ...
6141  5361        185  ...                  2013               No
6142  2711        185  ...                  2012               No
6143  1305       1007  ...                  2012               No
6144   743       1110  ...                  2020               No
6145  3199       1110  ...                  2017               No

[6146 rows x 13 columns]

In [12]:
card_df = card_df.drop(columns=['client_id', 'acct_open_date', 'cvv', 'card_number', 'expires'], axis=1)
card_df

        id  card_brand  ... year_pin_last_changed card_on_dark_web
0     4524        Visa  ...                  2008               No
1     2731        Visa  ...                  2014               No
2     3701        Visa  ...                  2004               No
3       42        Visa  ...                  2012               No
4     4659  Mastercard  ...                  2009               No
...    ...         ...  ...                   ...              ...
6141  5361        Amex  ...                  2013               No
6142  2711        Visa  ...                  2012               No
6143  1305  Mastercard  ...                  2012               No
6144   743  Mastercard  ...                  2020               No
6145  3199        Visa  ...                  2017               No

[6146 rows x 8 columns]

In [13]:
card_df['credit_limit'] = card_df['credit_limit'].apply(santize_df)
card_df

        id  card_brand  ... year_pin_last_changed card_on_dark_web
0     4524        Visa  ...                  2008               No
1     2731        Visa  ...                  2014               No
2     3701        Visa  ...                  2004               No
3       42        Visa  ...                  2012               No
4     4659  Mastercard  ...                  2009               No
...    ...         ...  ...                   ...              ...
6141  5361        Amex  ...                  2013               No
6142  2711        Visa  ...                  2012               No
6143  1305  Mastercard  ...                  2012               No
6144   743  Mastercard  ...                  2020               No
6145  3199        Visa  ...                  2017               No

[6146 rows x 8 columns]

In [14]:
merged_df = pd.merge(merged_df, card_df, left_on='card_id', right_on='id', how='inner')
del card_df
gc.collect()
merged_df

              id_x  client_id  ...  year_pin_last_changed  card_on_dark_web
0          7475327       1556  ...                   2008                No
1          7475328        561  ...                   2015                No
2          7475329       1129  ...                   2008                No
3          7475331        430  ...                   2006                No
4          7475332        848  ...                   2014                No
...            ...        ...  ...                    ...               ...
13094517  23761868       1718  ...                   2019                No
13094518  23761869       1766  ...                   2012                No
13094519  23761870        199  ...                   2007                No
13094520  23761873       1986  ...                   2010                No
13094521  23761874        489  ...                   2013                No

[13094522 rows x 16 columns]

In [15]:
merged_df = merged_df.drop(columns=['id_y', 'card_id'], axis=1)
merged_df

              id_x  client_id  ...  year_pin_last_changed card_on_dark_web
0          7475327       1556  ...                   2008               No
1          7475328        561  ...                   2015               No
2          7475329       1129  ...                   2008               No
3          7475331        430  ...                   2006               No
4          7475332        848  ...                   2014               No
...            ...        ...  ...                    ...              ...
13094517  23761868       1718  ...                   2019               No
13094518  23761869       1766  ...                   2012               No
13094519  23761870        199  ...                   2007               No
13094520  23761873       1986  ...                   2010               No
13094521  23761874        489  ...                   2013               No

[13094522 rows x 14 columns]

In [16]:
categorical_cols = merged_df.select_dtypes(include=['object']).columns
display(categorical_cols)
df = merged_df.copy()

Index(['use_chip', 'card_brand', 'card_type', 'has_chip', 'card_on_dark_web'], dtype='object')

In [17]:
print("Cardinality Analysis:")
print("-" * 50)
total_dummies = 0
for col in categorical_cols:
    n_unique = df[col].nunique()
    total_dummies += n_unique
    memory_estimate = (len(df) * n_unique * 1) / (1024**3)  # GB estimate
    print(f"{col}: {n_unique:,} unique values (~{memory_estimate:.2f} GB)")

print(f"\nTotal dummy columns: {total_dummies:,}")
print(f"Estimated memory needed: {(len(df) * total_dummies * 1) / (1024**3):.2f} GB")

Cardinality Analysis:
--------------------------------------------------
use_chip: 3 unique values (~0.04 GB)
card_brand: 4 unique values (~0.05 GB)
card_type: 3 unique values (~0.04 GB)
has_chip: 2 unique values (~0.02 GB)
card_on_dark_web: 1 unique values (~0.01 GB)

Total dummy columns: 13
Estimated memory needed: 0.16 GB

In [18]:
print("Starting one-by-one encoding...")
print(f"Initial memory: {df.memory_usage(deep=True).sum() / 1024**3:.2f} GB")

# Process each categorical column individually
for i, col in enumerate(categorical_cols, 1):
    print(f"\n[{i}/{len(categorical_cols)}] Processing {col}...")
    print(f"  Unique values: {df[col].nunique()}")
    
    # Create dummies for this column only
    dummies = pd.get_dummies(df[col], prefix=col, dtype=np.uint8)
    
    # Drop original column
    df = df.drop(columns=[col])
    
    # Add dummy columns
    df = pd.concat([df, dummies], axis=1)
    
    # Force cleanup
    del dummies
    gc.collect()
    
    print(f"  Current memory: {df.memory_usage(deep=True).sum() / 1024**3:.2f} GB")

print("\n✓ Encoding complete!")
print(f"Final shape: {df.shape}")
print(f"Final memory: {df.memory_usage(deep=True).sum() / 1024**3:.2f} GB")

Starting one-by-one encoding...
Initial memory: 4.29 GB

[1/5] Processing use_chip...
  Unique values: 3
  Current memory: 3.53 GB

[2/5] Processing card_brand...
  Unique values: 4
  Current memory: 2.89 GB

[3/5] Processing card_type...
  Unique values: 3
  Current memory: 2.25 GB

[4/5] Processing has_chip...
  Unique values: 2
  Current memory: 1.65 GB

[5/5] Processing card_on_dark_web...
  Unique values: 1
  Current memory: 1.04 GB

✓ Encoding complete!
Final shape: (13094522, 22)
Final memory: 1.04 GB

In [19]:
display(df)

              id_x  client_id  ...  has_chip_YES  card_on_dark_web_No
0          7475327       1556  ...             1                    1
1          7475328        561  ...             1                    1
2          7475329       1129  ...             1                    1
3          7475331        430  ...             0                    1
4          7475332        848  ...             1                    1
...            ...        ...  ...           ...                  ...
13094517  23761868       1718  ...             1                    1
13094518  23761869       1766  ...             1                    1
13094519  23761870        199  ...             1                    1
13094520  23761873       1986  ...             1                    1
13094521  23761874        489  ...             1                    1

[13094522 rows x 22 columns]

In [20]:
df = df.dropna().drop(['client_id', 'id_x'], axis=1)
display(df)

          amount  merchant_id  ...  has_chip_YES  card_on_dark_web_No
0         -77.00        59935  ...             1                    1
1          14.57        67570  ...             1                    1
2          80.00        27092  ...             1                    1
3         200.00        27092  ...             0                    1
4          46.41        13051  ...             1                    1
...          ...          ...  ...           ...                  ...
13094516  165.09        30286  ...             1                    1
13094517    1.11        86438  ...             1                    1
13094519   40.44         2925  ...             1                    1
13094520    4.00        46284  ...             1                    1
13094521   12.88        24658  ...             1                    1

[11478588 rows x 20 columns]

In [21]:
df.columns

Index(['amount', 'merchant_id', 'zip', 'is_fraud', 'num_cards_issued',
       'credit_limit', 'year_pin_last_changed', 'use_chip_Chip Transaction',
       'use_chip_Online Transaction', 'use_chip_Swipe Transaction',
       'card_brand_Amex', 'card_brand_Discover', 'card_brand_Mastercard',
       'card_brand_Visa', 'card_type_Credit', 'card_type_Debit',
       'card_type_Debit (Prepaid)', 'has_chip_NO', 'has_chip_YES',
       'card_on_dark_web_No'],
      dtype='object')

In [22]:
# extreme inbalance in data distribution
df['is_fraud'].value_counts()

is_fraud
0    11477397
1        1191
Name: count, dtype: int64

In [23]:
df_fraud = df[df.is_fraud == 1]
display(df_fraud)
df_non_fraud = df[df.is_fraud == 0]
display(df_non_fraud)

          amount  merchant_id  ...  has_chip_YES  card_on_dark_web_No
2499866    93.85        22936  ...             1                    1
2504224    14.44        18403  ...             1                    1
2514134     5.61        99370  ...             0                    1
2514176    99.50        27092  ...             0                    1
2514783    13.45         6813  ...             1                    1
...          ...          ...  ...           ...                  ...
11838376   31.68        87720  ...             1                    1
11839064    6.08        87720  ...             0                    1
11839829   47.67        70776  ...             1                    1
11847005    5.66        95457  ...             1                    1
11847312    0.04        60386  ...             0                    1

[1191 rows x 20 columns]

          amount  merchant_id  ...  has_chip_YES  card_on_dark_web_No
0         -77.00        59935  ...             1                    1
1          14.57        67570  ...             1                    1
2          80.00        27092  ...             1                    1
3         200.00        27092  ...             0                    1
4          46.41        13051  ...             1                    1
...          ...          ...  ...           ...                  ...
13094516  165.09        30286  ...             1                    1
13094517    1.11        86438  ...             1                    1
13094519   40.44         2925  ...             1                    1
13094520    4.00        46284  ...             1                    1
13094521   12.88        24658  ...             1                    1

[11477397 rows x 20 columns]

In [24]:
# taking equal sample sizes from both classes
# validation and test sizes
# del df
gc.collect()

val_size_per_class = 200
test_size_per_class = 200

# create test sets
X_test_fraud = df_fraud.sample(n=test_size_per_class, random_state=42)
X_test_non_fraud = df_non_fraud.sample(n=test_size_per_class, random_state=42)

X_test = pd.concat([X_test_fraud, X_test_non_fraud]).sample(frac=1, random_state=42).reset_index(drop=True)
y_test = X_test['is_fraud']
X_test = X_test.drop('is_fraud', axis=1)

df_fraud_remaining = df_fraud.drop(X_test_fraud.index)
df_non_fraud_remaining = df_non_fraud.drop(X_test_non_fraud.index)

# create validiation sets
X_val_fraud = df_fraud_remaining.sample(n=val_size_per_class, random_state=42)
X_val_non_fraud = df_non_fraud_remaining.sample(n=val_size_per_class, random_state=42)

X_val = pd.concat([X_val_fraud, X_val_non_fraud]).sample(frac=1, random_state=42).reset_index(drop=True)
y_val = X_val['is_fraud']
X_val = X_val.drop('is_fraud', axis=1)

df_fraud_train = df_fraud_remaining.drop(X_val_fraud.index)
df_non_fraud_train = df_non_fraud_remaining.drop(X_val_non_fraud.index)

# create training sets
min_train_samples_per_class = min(len(df_fraud_train), len(df_non_fraud_train))

X_train_fraud = df_fraud_train.sample(n=min_train_samples_per_class, random_state=42)
X_train_non_fraud = df_non_fraud_train.sample(n=min_train_samples_per_class, random_state=42)

X_train = pd.concat([X_train_fraud, X_train_non_fraud]).sample(frac=1, random_state=42).reset_index(drop=True)
y_train = X_train['is_fraud']
X_train = X_train.drop('is_fraud', axis=1)


print("\n--- Final Dataset Shapes and Distributions ---")
print(f"X_train shape: {X_train.shape}, y_train distribution: {np.unique(y_train, return_counts=True)}")
print(f"X_val shape: {X_val.shape}, y_val distribution: {np.unique(y_val, return_counts=True)}")
print(f"X_test shape: {X_test.shape}, y_test distribution: {np.unique(y_test, return_counts=True)}")

--- Final Dataset Shapes and Distributions ---
X_train shape: (1582, 19), y_train distribution: (array([0, 1]), array([791, 791]))
X_val shape: (400, 19), y_val distribution: (array([0, 1]), array([200, 200]))
X_test shape: (400, 19), y_test distribution: (array([0, 1]), array([200, 200]))

In [25]:
train_target = 2000

smote_train = SMOTE(sampling_strategy={0: train_target, 1: train_target},
                    random_state=42)
X_train, y_train = smote_train.fit_resample(X_train, y_train)
print(f"\nAfter SMOTE with custom sampling_strategy (target train: {train_target}):")
print(f"X_train_oversampled shape: {X_train.shape}")
print(f"y_train_oversampled distribution: {Counter(y_train)}")

After SMOTE with custom sampling_strategy (target train: 2000):
X_train_oversampled shape: (4000, 19)
y_train_oversampled distribution: Counter({0: 2000, 1: 2000})

In [29]:
display(X_train)
display(y_train)
print(X_train.isna().sum())
print(y_train.isna().sum())

          amount  merchant_id  ...  has_chip_YES  card_on_dark_web_No
0      10.130000        44862  ...             1                    1
1      97.000000        22204  ...             1                    1
2      11.300000        92991  ...             1                    1
3     563.550000        57596  ...             0                    1
4     439.000000        87685  ...             1                    1
...          ...          ...  ...           ...                  ...
3995   69.138168        48743  ...             1                    1
3996  -42.595803        74520  ...             0                    1
3997  104.436516        34431  ...             0                    1
3998  129.183136        80986  ...             1                    1
3999  177.393746        79104  ...             1                    1

[4000 rows x 19 columns]

0       0
1       0
2       0
3       1
4       1
       ..
3995    1
3996    1
3997    1
3998    1
3999    1
Name: is_fraud, Length: 4000, dtype: int64

amount                         0
merchant_id                    0
zip                            0
num_cards_issued               0
credit_limit                   0
year_pin_last_changed          0
use_chip_Chip Transaction      0
use_chip_Online Transaction    0
use_chip_Swipe Transaction     0
card_brand_Amex                0
card_brand_Discover            0
card_brand_Mastercard          0
card_brand_Visa                0
card_type_Credit               0
card_type_Debit                0
card_type_Debit (Prepaid)      0
has_chip_NO                    0
has_chip_YES                   0
card_on_dark_web_No            0
dtype: int64
0

In [ ]:
categorical_features = X_train.select_dtypes(
    include=['object']).columns.tolist()
categorical_transformer = Pipeline(steps=[('imputer', SimpleImputer(
    strategy='most_frequent')), ('onehot', OneHotEncoder(handle_unknown='ignore'))])
numerical_features = X_train.select_dtypes(
    include=['int64', 'float64']).columns.tolist()
numerical_transformer = Pipeline(
    steps=[('imputer', SimpleImputer(strategy='mean')), ('scaler', StandardScaler())])

preprocessor = ColumnTransformer(transformers=[(
    'num', numerical_transformer, numerical_features), ('cat', categorical_transformer, categorical_features)])

X_train_processed = preprocessor.fit_transform(X_train)
X_val_processed = preprocessor.transform(X_val)
X_test_processed = preprocessor.transform(X_test)
display(X_train_processed)
display(X_val_processed)
display(X_test_processed)

array([[-0.59150504, -0.15481555, -1.42794515, -0.71289463,  0.33060558,
         1.96968308],
       [ 0.18710224, -0.9932093 , -1.33112322, -0.71289463, -0.40073535,
         2.36547994],
       [-0.58101845,  1.62605888, -0.07548709, -0.71289463,  0.12778719,
        -0.00930123],
       ...,
       [ 0.253755  , -0.54078453,  1.48694143, -0.71289463, -0.25737171,
         0.7822925 ],
       [ 0.47555653,  1.18184858, -0.65059846,  1.3268611 , -0.71510809,
         1.57388622],
       [ 0.90766349,  1.11221061, -1.44980362, -0.71289463, -1.27864655,
        -0.80089495]], shape=(4000, 6))

array([[ 0.57232776,  0.42637655,  1.04309619, -0.71289463,  0.48307495,
        -1.59248867],
       [-0.35165779, -1.05555785, -0.59956738,  1.3268611 ,  1.73990422,
        -0.40509809],
       [-0.23531933,  1.3050656 , -0.21168475,  1.3268611 ,  0.1317696 ,
        -0.80089495],
       ...,
       [ 0.05167279, -0.21287186,  1.77216085, -0.71289463, -0.05303313,
        -3.17567612],
       [ 0.05884311, -0.69415827, -0.63968675, -0.71289463,  0.08919575,
        -0.80089495],
       [-0.62753591,  0.31403815, -1.5664481 , -0.71289463,  0.62568311,
         1.57388622]], shape=(400, 6))

array([[ 0.162275  ,  0.98925261,  1.58625085, -0.71289463, -0.20474395,
         0.7822925 ],
       [-0.10867352, -0.21287186, -0.22064562,  1.3268611 ,  0.01334035,
        -1.19669181],
       [ 0.80509432, -1.25451818, -1.09851263,  1.3268611 ,  2.409423  ,
        -3.17567612],
       ...,
       [-0.66428381,  0.06427393,  1.64518432,  1.3268611 , -0.47971979,
        -1.19669181],
       [ 0.05265871, -0.9932093 ,  0.36396697, -0.71289463, -0.17629817,
        -0.00930123],
       [-0.668586  ,  1.61688236, -0.21116421, -0.71289463, -1.36609022,
         0.7822925 ]], shape=(400, 6))

In [33]:
class MLP_SGD:
    def __init__(self, hidden_layer_sizes=(10,), learning_rate = 0.01, n_epochs=1000, batch_size=32):
        self.hidden_layer_sizes = hidden_layer_sizes
        self.learning_rate = learning_rate
        self.n_epochs = n_epochs
        self.batch_size = batch_size
        self.weights = []
        self.biases = []
        self.weights_history = []
        self.biases_history = []
        self.loss_history = []

    def _sigmoid(self, x):
        return 1 / (1 + np.exp(-np.clip(x, -500, 500)))

    def _sigmoid_derivative(self, x):
        s = self._sigmoid(x)
        return s * (1 - s)

    def _relu(self, x):
        return np.maximum(0, x)

    def _relu_derivative(self, x):
        return (x > 0).astype(float)

    def _initialize_parameters(self, n_features):
        layer_sizes = [n_features] + list(self.hidden_layer_sizes) + [1]
        self.weights = []
        self.biases = []

        for i in range(len(layer_sizes) - 1):
            fan_in = layer_sizes[i]
            fan_out = layer_sizes[i+1]
            limit = np.sqrt(6 / (fan_in + fan_out))
            self.weights.append(np.random.uniform(-limit, limit, (fan_in, fan_out)))
            self.biases.append(np.zeros((1, fan_out)))


    def _forward_pass(self, X):
        activations = [X]
        zs = []

        for i in range(len(self.weights) - 1):
            z = np.dot(activations[-1], self.weights[i]) + self.biases[i]
            zs.append(z)
            a = self._relu(z)
            activations.append(a)

        z_output = np.dot(activations[-1], self.weights[-1]) + self.biases[-1]
        zs.append(z_output)
        y_pred = self._sigmoid(z_output)
        activations.append(y_pred)

        return activations, zs
    
    def _compute_loss(self, y_true, y_pred):
        y_pred = np.clip(y_pred, 1e-10, 1 - 1e-10)
        loss = -np.mean(y_true * np.log(y_pred) + (1 - y_true) * np.log(1 - y_pred))
        return loss 
    
    def fit(self, X, y):
        n_samples, n_features = X.shape
        y = np.asarray(y).reshape(-1, 1)
        X = np.asarray(X)
        self._initialize_parameters(n_features)
        self.weights_history.append([w.copy() for w in self.weights])
        self.biases_history.append([b.copy() for b in self.biases])
        activations, _ = self._forward_pass(X)
        initial_loss = self._compute_loss(y, activations[-1])
        self.loss_history.append(initial_loss)

        for epoch in range(self.n_epochs):
            permutation = np.random.permutation(n_samples)
            X_shuffled = X[permutation]
            y_shuffled = y[permutation]

            for i in range(0, n_samples, self.batch_size):
                X_batch = X_shuffled[i : i + self.batch_size]
                y_batch = y_shuffled[i : i + self.batch_size]

                activations, zs = self._forward_pass(X_batch)
                y_pred = activations[-1]

                delta = y_pred - y_batch
                dW = np.dot(activations[-2].T, delta) / X_batch.shape[0]
                db = np.sum(delta, axis=0) / X_batch.shape[0]
                self.weights[-1] -= self.learning_rate * dW
                self.biases[-1] -= self.learning_rate * db

                for l in range(len(self.weights) -2, -1, -1):
                    delta = np.dot(delta, self.weights[l+1].T) * self._relu_derivative(zs[l])
                    dW = np.dot(activations[l].T, delta) / X_batch.shape[0]
                    db = np.sum(delta, axis=0) / X_batch.shape[0]

                    self.weights[l] -= self.learning_rate * dW
                    self.biases[l] -= self.learning_rate * db

            self.weights_history.append([w.copy() for w in self.weights])
            self.biases_history.append([b.copy() for b in self.biases])

            activations, _ = self._forward_pass(X)
            epoch_loss = self._compute_loss(y, activations[-1])
            self.loss_history.append(epoch_loss)

            if (epoch + 1) % 100 == 0:
                print(f"Epoch {epoch + 1} / {self.n_epochs}, Loss : {epoch_loss: .4f}")

        return self

    def predict_proba(self, X):
        activations, _ = self._forward_pass(X)
        return activations[-1]
    
    def predict(self, X, threshold = 0.5):
        probabilities = self.predict_proba(X)
        return (probabilities >= threshold).astype(int).flatten()

In [34]:
mlp_sgd = MLP_SGD(hidden_layer_sizes=(30, 30, ), learning_rate=0.001, n_epochs=1000, batch_size=32)

mlp_sgd.fit(X_train_processed, y_train)

y_pred_train = mlp_sgd.predict(X_train_processed)
y_pred_val = mlp_sgd.predict(X_val_processed)

conf_matrix_train = confusion_matrix(y_train, y_pred_train)
conf_matrix_val = confusion_matrix(y_val, y_pred_val)
acc_train = accuracy_score(y_train, y_pred_train)
acc_val = accuracy_score(y_val, y_pred_val)
precision_train = precision_score(y_train, y_pred_train, pos_label=1)
precision_val = precision_score(y_val, y_pred_val, pos_label=1)
recall_train = recall_score(y_train, y_pred_train, pos_label=1)
recall_val = recall_score(y_val, y_pred_val, pos_label=1)
f1_train = f1_score(y_train, y_pred_train, pos_label=1)
f1_val = f1_score(y_val, y_pred_val, pos_label=1)

print(f"Confusion-matrix train: {conf_matrix_train}")
print(f"Confusion-matrix val: {conf_matrix_val}")
print(f"Accuracy train: {acc_train}")
print(f"Accuracy val: {acc_val}")
print(f"Precison train: {precision_train}")
print(f"Precision val: {precision_val}")
print(f"Recall train: {recall_train}")
print(f"Recall val: {recall_val}")
print(f"f1 train: {f1_train}")
print(f"f1 val: {f1_val}")

Epoch 100 / 1000, Loss :  0.6236
Epoch 200 / 1000, Loss :  0.5997
Epoch 300 / 1000, Loss :  0.5905
Epoch 400 / 1000, Loss :  0.5835
Epoch 500 / 1000, Loss :  0.5777
Epoch 600 / 1000, Loss :  0.5728
Epoch 700 / 1000, Loss :  0.5682
Epoch 800 / 1000, Loss :  0.5639
Epoch 900 / 1000, Loss :  0.5599
Epoch 1000 / 1000, Loss :  0.5559
Confusion-matrix train: [[1521  479]
 [ 634 1366]]
Confusion-matrix val: [[152  48]
 [ 89 111]]
Accuracy train: 0.72175
Accuracy val: 0.6575
Precison train: 0.740379403794038
Precision val: 0.6981132075471698
Recall train: 0.683
Recall val: 0.555
f1 train: 0.7105331599479844
f1 val: 0.6183844011142061